<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CapStone_Forums</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="/Style/forums.css">
</head>

<body>

  <div class="main">
    <div class="circle" onclick="window.location.href='http://localhost:8080'">
        <h6 class="select"><span>Home </span><span>FAQ</span></h6>
        <p class="Move_select"><span>Move</span></p>
    </div>
    <div class="card-3d-wrap">
      <div class="card-3d-wrapper">
        <div class="card-front">
          <div class="content">
            <nav>
              <div class="logo">
                <h1 class="logo_title">~경운기로 준비해봅시다~</h1>
                <h3 class="logo_sub_title">열심히 준비하는 의성군 축제</h3>
              </div>
            </nav>
            <div class="center-content">
              <article>
                <table>
                  <thead>
                  <tr>
                    <th>제목</th>
                    <th>작성일시</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="question : ${questionList}">
                    <td th:text="${question.subject}"></td>
                    <td th:text="${question.createDate}"></td>
                  </tr>
                  </tbody>
                </table>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>