<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>C_Forums</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="/static/Style/forums.css">
</head>

<body>

  <div class="main">
    <div class="circle" onclick="window.location.href='http://localhost:8080'">
        <h6 class="select"><span>Home </span><span>FAQ</span></h6>
        <p class="Move_select"><span>Move</span></p>
    </div>
    <div class="card-3d-wrap">
      <div class="card-3d-wrapper">
        <div class="card-front">
          <div class="content">
            <nav>
              <div class="logo">
                <h1 class="logo_title">~경운기로 준비 해봅시다~</h1>
                <h3 class="logo_sub_title">열심히 준비하는 의성군 축제</h3>
              </div>
            </nav>
            <div class="center-content">
              <article>
                <section class="notice">
                  <a class="notice_title">제목</a>
                  <a class="notice_title">작성날짜</a>
                </section>
                <section class="detail" th:each="question : ${questionList}">
                  <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                  <a th:text="${question.createDate}"></a>
                </section>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>