<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Style/forums.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="home">
                <button onclick="location.href='Index.html'">Home</button>
            </div>
            <div class="forums">
                <button onclick="location.href='forums.html'">Forums</button>
            </div>
            <div class="FAQ">
                <button onclick="location.href='FAQ.html'">FAQ</button>
            </div>
        </div>
    </nav>
    <div class="content"></div>
</body>
</html>