<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CapStone</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="/static/Style/Index.css">
</head>

<body>

  <div class="main">
    <h6 class="select"><span>Home </span><span>Notice</span></h6>
      <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
      <label for="reg-log"></label>
    <div class="circle"></div>
    <div class="card-3d-wrap">
      <div class="card-3d-wrapper">
        <div class="card-front">
          <div class="content">
            <nav>
              <div class="logo">
                <h1 class="logo_title">~경운기로 준비해봅시다~</h1>
                <h3 class="logo_sub_title">열심히 준비하는 의성군 축제</h3>
              </div>
            </nav>
            <div class="center-content">
              <article>
                <section class="section_up">
                  <h1 class="section_title">기획 의도
                    <p class="section_sub_title">기획의도 작성할 것</p>
                  </h1>
                </section>
                <section class="section_down">
                  <h1 class="section_title">경운기<p class="section_sub_title">경운기를 만들게된 이유or 구성 기능등 작성할 것</p>
                  </h1>
                </section>
                <section class="section_down">
                  <h1 class="section_title">고민 포인트<p class="section_sub_title">고민한 포인트 작성할 것</p>
                  </h1>
                  <div class="section_content">
                    <p class="section_first">
                      ㅔㅔㅔ
                    </p>
                    <p class="section_second">
                      ㅔㅔㅔ
                    </p>
                    <p class="section_third">
                      ㅔㅔㅔ
                    </p>
                  </div>
                </section>
                <section class="section_down">
                  <h1 class="section_title">매력 포인트<p class="section_sub_title">게임의 매력적인 포인트등을 작성할 것</p>
                  </h1>
                </section>
                <section class="section_down">
                  <h1 class="section_title">중요 포인트<p class="section_sub_title">중요포인트들을 작성할 것</p>
                  </h1>
                </section>
              </article>
              <aside>
                <div class="side">
                  <div class="side_title" onclick="window.location.href='forums.html'">
                    <p class="side_content">Download</p>
                  </div>
                  <div class="side_sub_title">
                    <p class="side_content">Forums</p>
                  </div>
                  <div class="side_down_title">
                    <p class="side_content">Notice</p>
                  </div>
                </div>

              </aside>
            </div>
            <div class="footer-content">
              <div class="play_images">
                <div class="image_box">

                </div>
                <div class="image_box">

                </div>
                <div class="image_box">

                </div>
                <div class="image_box">

                </div>
                <div class="image_box">

                </div>
                <div class="image_box">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-back">
          <div class="content">
            <nav>
              <div class="logo">
                <h1>~경운기로 준비해봅시다~</h1>
                <h3 class="subTitle">열심히 준비하는 의성군 축제</h3>
              </div>
            </nav>


          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>