<!doctype html>
<html lang="en">
<head>
  <title>Webleb</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
<link rel="stylesheet" href="/static/Style/Index.css">
</head>
<body>
	<div class="section">
		<div class="container">
			<div class="center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="select"><span>Home </span><span>FAQ</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">

								<div class="card-front">
									<div class="center-wrap">
                    <h1>~경운기로 준비해봅시다~</h1>
                    <h2>열심히 준비하는 의성군 축제</h2>
			      		</div>


								<div class="card-back">
                  <div class="center-wrap">
                    <h1>안녕하세요</h1>
                  </div>
			      		</div>
			      	</div>
			      </div>
			    </div>
		    </div>
	    </div>
	  </div>
	</div>
</body>
</html>